<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?1">


    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>


    <div class="flex-container swiper-container">

    <div class="swiper-wrapper">
        
        <div class="milestone intro swiper-slide">
          <h1>Pursuit of 1,000</h1>
          <%= t.include("partials/_social.html") %>
          <% json.intro.forEach(function(intro) { %>
          <p><%= intro.intro %></p>
          <% }); %>
          <div class="arrow">
            <span>Scroll right</span><br>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </div>
        </div>



        <% json.timeline.forEach(function(t) { %>



        <% if (t.class == 'text') { %>
          <div class="milestone text swiper-slide">
            <h2><%= t.number %></h2>
            <p class="score"><%= t.score %></p>
            <p class="date"><%= t.date %></p>
            <p><%= t.display_text %></p>       
          </div>

        <% } %>

          <% if (t.class == 'bg') { %>
          <div class="milestone bg swiper-slide" style="background-image: url(<%= t.img %>); background-size:<%= t.img_size %>; background-position: <%= t.img_position %>">
            <p><span class="win"><%= t.number %></span><%= t.date %>: <%= t.display_text %></p>
          </div>

          <% } %>

          <% if (t.class == 'img-text') { %>
          <div class="milestone img-text swiper-slide">
            <h2><%= t.number %></h2>
            <p class="score"><%= t.score %></p>
            <p class="date"><%= t.date %></p>
            <div class="img">
              <img src="<%= t.img %>">
            </div>

            <p><%= t.display_text %></p>
          </div>

          <% } %>

         <% }); %>

         <div class="milestone outro swiper-slide">
         <div class="stories">
            <p>Related Stories</p>
           <a href="http://www.sfchronicle.com/collegesports/article/Tara-VanDerveer-s-climb-to-1-000-wins-An-oral-10901515.php">Tara VanDerveer’s climb to 1,000 wins: An oral history</a><br><br>
           <a href="http://www.sfchronicle.com/collegesports/article/From-humble-start-a-legendary-career-for-10904707.php">From humble start, a legendary career for Stanford’s Vanderveer</a>




           
         </div>
          <div class="credits">
            <div class="group">
            <p>Credits</p>
              <div class="entry">Mike Massa<br>
                <a href="mailto:mmassa@sfchronicle.com">mmassa@sfchronicle.com</a>
              </div>
              <div class="entry">Janny Hu<br>
                <a href="mailto:jhu@sfchronicle.com">jhu@sfchronicle.com</a>
              </div>
              <div class="entry">Lucio Villa<br>
                <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>
              </div>
            </div>
          </div>
        </div>


         </div>
         <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>


    <script src="app.js" async></script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        grabCursor: true,
        pagination: '.swiper-pagination',
        keyboardControl: true,
        mousewheelControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'progress'
      })  
    </script>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
